<h1>Bienvenidos, inventores</h1>

<div>
	Programadores, diseñadores, mercadólogos, todos cuantos desean trabajar en un ambiente unificado en pro del Reino de Dios, ¡bienvenidos!
	<br /><br />
	<strong>One Way Devs</strong> surge como iniciativa de desarrollar herramientas informáticas enfocadas unica
	y exclusivamente en el Reino de Dios, en su crecimiento y fortalecimiento, para ser utilizadas por iglesias,
	ministerios, organizaciones cristianas y grupos de personas, comprendiendo que el propósito de la Obra de Dios 
	son las vidas de las personas.
	<br /><br />
	Las herramientas van enfocadas a administración de iglesias y toda clase de organizaciones enfocadas en el Reino,
	discipulado, seminario, evangelismo, estudios bíblicos, entre otras. La meta es generar un desarrollo continuo de
	herramientas gratuitas de todo tipo de indole que busquen satisfacer las necesidades prioritarias y ayuden al 
	crecimiento y fortalecimiento del Reino de Dios.
	<br /><br />
	<h3>¿Te gustaría participar?</h3>
	Los requisitos para poder participar son:
	<ul>
		<li>Ser creyente. Creer que Jesús es el Hijo de Dios, y que es Dios. Creer en Dios Padre, Dios Hijo y Dios Espíritu Santo, un solo Dios en tres personas.</li>
		<li>Creer que Jesús murió en la cruz para salvarnos de los pecados, y que resucitó al 3er día, y que algún día resucitaremos y estaremos con Él.</li>
		<li>Haber aceptado a Jesús como Único Señor y Salvador, y que la salvación es únicamente por medio de la Gracia de Dios.</li>
		<li>Creer que la Biblia contiene única y exclusivamente la Palabra de Dios.</li>
		<li>Poseer convicción de luchar por el Reino de Dios.</li>
		<li>Buscar glorificar a Dios en todo cuanto se haga.</li>
	</ul>
	<br />
	Si cumples con los requisitos y te gustaría participar, puedes dejarnos tu información de contacto.
	<br /><br />
	<div>
		<%= render :partial => "contacts/form" %>
	</div>
</div>
